* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', serif;
}

body {
    height: 100%;
    max-height: 100vh;
}

main {
    background: linear-gradient(to bottom, rgb(49, 207, 67), rgb(129, 224, 142));
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 6.45vh - 0.55vh); /* header + hr height */
    max-height: none;
}

header {
    background-color: rgb(49, 207, 67);
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    height: 6.45vh;
    flex: 1;
}


.top-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    height: 100%;
    padding-right: 10px;
}

.securlybypass {
    display:flex;
    align-items: center;
    background-color: rgb(35, 161, 50);
    box-shadow: 0px 0px 15px 5px rgb(35, 161, 50);
    border-radius: 20px;
    padding: 10px 15px;
}
.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2vh
}

.game-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 51px;
    border: 2px solid #000000;
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    transition:  0.3s ease-in-out;
    cursor: pointer;
}

.game-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 5px rgb(29, 116, 39);
}


.game-button img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
#motd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border-radius: 20px;
    border-color:rgb(38, 181, 55);
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 20px 5px rgba(38, 181, 55);
    color: white;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.top-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.top-nav a{
    right: 0;
    display: flex;
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 100%;
}

#settings {
    color:rgb(29, 116, 39);
}

.switch {
    position: relative;
    display: inline-block;
    width: 63px; /* 60px + 2*2px border */
    height: 37px; /* 34px + 2*2px border */
    box-sizing: border-box;
    border: 2px solid #000000; /* Add border here */
    border-radius: 34px;
    background: transparent;
}



.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    box-sizing: border-box;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px; width: 26px;
    left: 4px; bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
.switch input:checked + .slider {
    background-color: #2edd43;
}
.switch input:checked + .slider:before {
    transform: translateX(26px);
}

.logo {
    width: 50px;
    height: 50px;
    box-sizing: content-box;
}

#h1name {
    font-size: 2rem;
    margin: 0px 10px;
}

#games-text {
    display:flex;
    justify-content: center;
    margin-top: 2vh;
}

hr {
    border: none;
    height: .55vh;
    background-color: rgb(38, 181, 55);
    margin: 0;
}

@media screen and (max-width: 1200px) {
  .top-nav a {
     font-size: .8rem;
  }
  #h1name {
     font-size: 1.3rem;
  }
}

.top-nav a:hover {
    transition: color .2s ease;
    color: rgb(218, 218, 218);
}